body {
    margin: 0;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #818285;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.sidenav li a {
    display: block;
    color: #f9f9f9;
    padding: 8px 16px;
    text-decoration: none;
}
 
ul.sidenav li a.active {
    background-color: white;
    color: black;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #c41230;
    color: black;
}

div.content {
    margin-left: 20%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 800px){
    ul.sidenav {
        width:100%;
        height:auto;
        position:relative;
	<!-- this is where I tried position:sticky;-->
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left:0;}
}

@media screen and (max-width: 400px){
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}


div.scroll {
    background-color: #00FFFF;
    height: 100px;
    overflow: scroll;
    white-space: pre-wrap;
}

div.txt {
    background-color: #00FFFF;
    height: 100px;
    overflow: scroll;
    white-space: pre-wrap;
}

div.code {
    background-color: #00FFFF;
    white-space: pre-wrap;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    background-color: #818285;
    color: white;
}

.button {
    background-color: #818285;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}